body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #84c5ff, #ffffff);
  color: #333;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: none;
}

.logo {
  display: flex;
  align-items: center;
}

.city-logo {
  width: 300px;
  height: auto;
}

.text-cheonan {
  color: gray;
  text-align: center;
  margin-left: 10px;
}

#text-subcheonan {
  color: gray;
  font-size: 0.35em;
}

.text-cheonan h1 {
  margin: 0;
  font-size: 5em;
  font-weight: bold;
}

.text-cheonan h2 {
  font-size: 1em;
  color: #d4af37;
  margin: 5px 0 0;
  font-style: italic;
}

#hr-line {
  display: flex;
  position: relative;
  right: 550px;
  top: 150px;
  margin: 10px 0;
}

#hr-line hr {
  border: 0;
  height: 2px;
  background: linear-gradient(to right, transparent, #d4af37, transparent);
  width: 150px;
  margin-right: 10px;
}

#hr-line span {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  color: gray;
  white-space: nowrap;
}

#text-calendar {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 250px;
  left: 0px;
}

.menu-type {
  position: absolute;
  top: 20px;
  left: 93%;
}

.menu-type ul {
  top: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-type ul li {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
}

.menu-type ul li a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}

.menu-type ul li a:hover {
  text-decoration: underline;
}

main {
  position: relative;
  margin-top: 50px;
}

.map-section {
  position: absolute;
  right: 5%;
  top: -100px;
}

.map-image {
  width: 500px;
  height: auto;
}

footer {
  background: none;
  text-align: left;
  padding: 10px;
  font-size: 0.9em;
  color: #333;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.map-image {
  width: 100%;
  margin: 0 auto;
  animation: fadein 20s ease 10s;
  -webkit-animation: fadein 10s;
}

.map-image {
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .body {
    width: auto;
    margin: 0;
    background-color: violet;
  }
  .map-section {
    position: relative;
    right: 0;
    top: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .map-image {
    width: 90%;
  }
  .menu-type {
    top: 70px;
  }
}